.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 calc(100% / 3 - 15px);
    margin-bottom: 88px;

    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        margin-bottom: 0;
    }

    &-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin: 0 auto 29px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-title {
        font-size: $_24px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    &-text{

        p {
            font-size: $_18px;
            font-weight: 400;
            color: $grey;
            text-align: center;
        }

    }
}