@import 'cdn.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'card.scss';
@import 'work.scss';
@import 'person_card.scss';
@import 'slider.scss';
@import 'ready.scss';
@import 'footer.scss';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: none;
    text-decoration: none;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    min-width: 280px;
}

section {
    padding: 120px 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 3;
}

@import 'media.scss';