// color
$black: #2D3033;
$grey: #6C7279;
$lightGrey: #BABBC5;
$lighterGrey: #C6CBCD;
$red: #FF4343;
$darkRed: #E71414;
$deepRed: #B90C0C;
$darkblue: rgba(37, 43, 73, 0.8);
$blue: #353C65;

// font-size
$_64px: 4rem;
$_39px: 2.4375rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;